#!/bin/bash

################################################################################
#      WARNING: DO NOT WRITE SENSITIVE INFORMATION IN THIS FILE                #
################################################################################

# Load env vars from .env.local file

ENV_FILE="${ENV_FILE:-.env.local}"

GREEN='\033[0;32m'
NO_COLOR='\033[0m'

if ! command -v dotenv >/dev/null 2>&1; then
	echo "dotenv command not found"
	exit 1
fi

if [ ! -f "$ENV_FILE" ]; then
	echo "$ENV_FILE file not found"
	exit 3
fi

echo -e "Reading env vars from ${GREEN}${ENV_FILE}${NO_COLOR}"
dotenv "$ENV_FILE"
